/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

$bodyFont: "Lato", sans-serif;

/* Colors */
$bg-light: #e3e3e3;
$bg-dark: #363636;
$text-light: #fafafa;
$text-dark: #1f1f1f;

/* Media Queries */
$on-laptop: 1000px;
$on-palm: 800px;

@mixin media-query($device) {
  @media only screen and (max-width: $device) {
    @content;
  }
}