.experience-list {
  list-style: none;
  padding: 0;

  .experience {
    margin-bottom: 1rem;

    .header {
      font-weight: bold;
      display: block;
    }
    &__location {
      font-style: italic;
      font-size: 0.9em;
    }
  }
}
.courses-taught {
  list-style: none;
  padding: 0;

  .course {
    display: grid;
    grid-template-columns: 200px max-content max-content;
    align-items: center;

    &__code {
      font-weight: bold;
    }
    &__name {
      font-weight: bold;
      padding: 0 0.5rem;
      grid-column: 2 / 2;
    }
    &__location {
      font-style: italic;
      font-size: 0.9em;
    }
  }
}