.site-footer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: $bg-dark;
  color: $text-light;
  padding: 1rem;
  gap: 0.25rem;

  p {
    margin: 0;
  }
  
  a {
    color: inherit;
  }
}