.site-header {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $bg-dark;
  color: $text-light;
  position: relative;
  z-index: 99;

  .site-title {
    color: inherit;
    text-decoration: none;
    margin: 0;
    font-weight: 300;
    font-size: 2em;
    text-transform: uppercase;
  }

  .site-nav {
    display: flex;
    gap: 2rem;

    .nav-link {
      color: inherit;
      text-decoration: none;
      font-size: 1.2em;
      font-weight: 300;

      &::after {
        content: "";
        display: block;
        height: 1px;
        background-color: $text-light;
        width: 0;
        opacity: 0;
        transition: width 0.2s, opacity 0s 0.2s;
      }
      &:hover::after {
        width: 100%;
        opacity: 100%;
        transition: width 0.2s, opacity 0s;
      }
    }
  }

  #nav-toggle {
    display: none;
  }

  #menu-icon {
    display: none;
    width: 1.5em;
  }

  @include media-query($on-laptop) {
    #menu-icon {
      display: inline-block;
    }
    .site-nav {
      display: block;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      max-height: 0;
      overflow: hidden;
      background-color: $bg-dark;
      text-align: center;
      transition: all 0.3s linear;

      .nav-link {
        display: block;
        margin-bottom: 1rem;
      }
    }

    #nav-toggle:checked ~ .site-nav {
      max-height: 100vh;
    }
  }
}