.title {
  margin-bottom: 2rem;

  .page-title {
    text-align: center;
    font-weight: normal;
    font-size: 3em;
    margin-bottom: 0.25rem;
  }
  .page-subtitle {
    margin-top: 0;
    text-align: center;
    font-weight: normal;
  }
}
