.pub-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  gap: 1rem;
}

.publications {
  list-style: none;
  margin: 0;
  padding: 0;

  .publication {
    margin: 0.75rem 0;
  }
}

.back-top {
  position: fixed;
  bottom: 5rem;
  right: 0;
  padding: 1rem 2rem;
  background-color: $bg-dark;
  color: $text-light;
  border-radius: 8px 0 0 8px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transform: translateX(100%);
  transition: transform 0.2s ease;

  svg {
    width: 2em;
    height: 2em;
  }

  p {
    margin-top: 0.5rem;
    margin-bottom: 0;
  }
}